<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.sirac.streaming"
        version   = "1.0.0">
		
	
		
    <name>XHPZ 96.7 FM</name>

    <description>
        Aplicación de streaming de estación XHPZ 96.7 FM RADIO SENSACION
    </description>

    <author href="http://www.sirac.net" email="sirac@hotmail.com">
        Heriberto Arturo Figueroa Medina - sirac@hotmail.com
    </author>
	
	
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    


    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation"      value="portrait" />
	<preference name="AlwaysRetainTaskState"      value="true" />
	<preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="android-launchMode" value="singleInstance" />	
	<preference name="exit-on-suspend" value="false"/>
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="permissions" value="none" />

    <icon src="icon.png" />
</widget>
